<div id="main">
<h2> <%= @msg %></h2>
<p>
<%= link_to "cookie_test", "/cktest/index" %><br/>
<%= link_to "intercom_test", "/cs/intercom" %>
<a href="/cktest/index">cookie_test</a>
<a href="/cs/intercom">intercom_test</a>

</p>

</div>
